* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 500px;
  }
  
  /* Navbar styles */
  #nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
  }
  
  #nav-menu h1 {
    margin-right: 300px;
  }
  
  #nav-menu h1 > span {
    color: rgb(212, 36, 5);
  }
  
  #nav-menu ul {
    width: 50%;
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  #nav-menu ul li {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  #nav-menu li :hover {
    color: rgb(212, 36, 5);
  }
  #resume-button-1{
    background-color: black;
  
    font-size: inherit;
    font-family: inherit;
    border: 1px solid red;
  }
  #resume-button-1 a{
    text-decoration: none;
    color: white;
  }
 

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Hamburger menu styles */
#navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  margin-left: auto; 
}

/* Media query for tablets and mobile */
@media screen and (max-width: 1130px) {
  #nav-menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px; 
    right: 0; 
    background-color: black;
    /* border: 2px solid red; */
    padding: 10px;
  }

  #nav-menu ul.active {
    display: flex;
  }

  #nav-menu h1 {
    margin-right: 0;
  }

  #navbar-toggle {
    display: flex;
  }

  #nav-list {
    list-style-type: none;
    margin-top: auto; 
    padding: 0;
  }

  #nav-list li {
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-link {
    padding: 10px 0;
  }




}


   #home {
    background-image: url(images/2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: transparent;
    color: #fff;
    text-align: center;
    /* padding: 50px; */
    width: 100%;
    height: 650px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    /* border: 2px solid red; */
  }
  
  #home p {
    font-size: 25px;
    margin-bottom: 30px;
    /* border: 2px solid red; */
  }

  .home-content {
    /* border: 2px solid red; */
    text-align: left; 
    width: 40%;
    margin-left: 10%;
   
  }
  
  #user-detail-name {
    font-size: 36px;
  }
  
  #user-detail-intro {
    color: black;
  }
  
  #resume-link-2 {
    display: block;
    padding: 8px;
    color: white;
    border-radius: 5px;
    background-color: rgb(212, 36, 5);
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    border: 2px solid rgb(8, 216, 8);
    border-radius: 2px;
    padding: 12px;
  }
  
  #resume-link-2:hover {
    background-color: black;
  }
  #resume-button-2{
 
    margin-top: 20px;


  }
/* Auto typing text in home section */
#auto-typing-text {
  color: rgb(212, 36, 5);
  font-weight: bold;
  font-size: 25px;
  position: relative;
}

#auto-typing-text::before {
  content: ''; /* Empty content to hide the default text */
  display: none; /* Hide the default content */
}

#auto-typing-text::after {
  content: '|';
  animation: blink 0.7s infinite;
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



  /* Media query for larger screens */
  @media screen and (max-width: 768px) {
    #home {
      text-align: left;
      align-items: flex-start;
    }
  
    #home p {
      font-size: 25px;
      margin-bottom: 30px;
    }
  
    .home-content {
      padding: 50px; 
      width: 80%;
    }
    .home-img{
      width: 80%;
    }
    
  }
  

  #about {
    padding: 40px 10px; 
    text-align: center;
    font-size: 20px;
  }
  
  #about-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
  }
  
  #about-content > div > p {
    text-align: justify;
    padding: 20px; 
    margin-top: 20px; 
  }
  
  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    #about-content {
      flex-direction: row; 
      justify-content: space-between;
    }
  
    #about-content > div > p {
      flex-basis: 45%; 
      padding: 20px; 
      margin-top: 0; 
    }
  }
  
  /* Base styles for both sections */
#services {
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: auto; 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0; 
  text-align: center;
}

#services h2 {
  margin-top: 50px;
  font-weight: 1000;
  color: #fff;
  font-size: 30px;
}

#services-card {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.services-card {
  background-color: rgb(80, 77, 77);
  margin-top: 20px; 
  width: calc(100% - 20px); 
  max-width: 400px; 
  height: auto; 
  transition: 0.2s;
  border-radius: 5px;
}

.services-card:hover {
  background-color: rgb(212, 36, 5);
  transform: scale(1.04);
}

.services-card h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.services-card p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  #services-card {
    flex-direction: column; 
  }

  .services-card {
    width: calc(100% - 20px); 
    margin-top: 20px; 
  }
}

/* Styles for the skills section */
#skills {
  background-color: #fff;
  padding: 60px 0;
  text-align: center;
}

.skills-card {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.skills-card-img {
  width: 100px;
  height: 100px;
}

.skills-card-name {
  margin-top: 10px;
  margin-bottom: 0;
}













#projects {
  align-items: center;
  padding: 20px;
  background-color: #d3c9c9;
  text-align: center;
}

#project_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#projects h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 360px;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.project-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}

.project-tech-stack {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
  text-align: center;
}

.project-github-link,
.project-deployed-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.project-github-link:hover,
.project-deployed-link:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  #project_cards {
    flex-direction: column; /* Stack cards vertically on smaller screens */
  }

  .project-card {
    max-width: 100%; /* Take full width on smaller screens */
  }
}












.react-activity-calendar > img{
  display: block;
  width: 400px;
}














  #contact {
    background-color: #333;
    padding: 60px 0;
    text-align: center;
    color: #fff;
  }
  
  #contact h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  #contact div {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #contact p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  #contact a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  
  #contact a:hover {
    text-decoration: underline;
  }
  

  #github {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  

/* 
  @media screen and (max-width: 768px) {
    #nav-menu h1 {
        margin-right: 150px;
    }
    #nav-menu ul {
        width: 70%;
    }
    #home p {
        display: block;
        margin: auto;
        font-size: 20px;
    }
    .home-content {
        width: 80%;
        height: auto;
        padding: 20px;
    }
   
}


@media screen and (max-width: 576px) {
  #nav-menu h1 {
      margin-right: 100px;
  }
  #nav-menu ul {
      width: 80%;
  }
  #home p {
      font-size: 18px;
  }
  .home-content {
      width: 90%;
  }

} */

